* {
  margin: 0;
  padding: 0;
}

/* CSS RESET */

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
}

section {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
}

header {
  display: flex;
  /* responsiveness */
}

main {
  display: flex;
}

header .header-text {
  width: 50%;
}

header .star-rating {
  width: 50%;
}

/* TEXT */

header .header-text h1 {
  flex: 1;
  padding-right: 200px;
  margin-bottom: 10px;
  font-size: 3em;
  color: hsl(300, 43%, 22%);
}

header .header-text p {
  flex: 1;
  padding-right: 200px;
  color: hsl(303, 10%, 53%);
  font-weight: 500;
}

/* STARS REVIEW */
header .star-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header .reviews-1 {
  align-self: flex-start;
}

header .reviews-2 {
  align-self: center;
}

header .reviews-3 {
  align-self: flex-end;
}

header .reviews {
  margin: 5px 0px;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  background: hsl(300, 24%, 96%);
}

header .card-reviews span {
  margin-left: 30px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

/* TESTIMONY */

main {
  color: white;
  margin: 50px auto;
}

main .card-proof {
  flex: 1;
  box-sizing: border-box;
  background: hsl(300, 43%, 22%);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
}

main .proof1 {
  margin-right: 10px;
}

main .proof2 {
  margin: 0px 10px;
}

main .proof3 {
  margin-left: 10px;
}

.card-holder {
  display: flex;
  justify-content: flex-start;
}

main .card-holder .people-name {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.people-name .name {
  font-weight: 700;
}

.people-name .buyer {
  color: hsl(303, 10%, 53%);
}

main .card-holder img {
  margin: 20px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-proof p {
  font-size: 0.9em;
  line-height: 1.8em;
}

main .proof2 {
  transform: translateY(20px);
}

main .proof3 {
  transform: translateY(40px);
}

/* responsiveness */

@media screen and (max-width: 756px) {
  header {
    flex-direction: column;
  }

  header .header-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  header .header-text h1 {
    text-align: center;
    padding: 0px;
  }

  header .header-text p {
    margin-top: 10px;
    text-align: center;
    padding: 0px;
  }

  header .star-rating {
    margin: 25px auto;
    width: 100%;
  }

  header .card-reviews {
    margin-left: 0px;
    text-align: center;
  }

  header .reviews {
    margin: 10px 0px;
  }

  header .reviews-1 {
    align-self: stretch;
  }

  header .reviews-2 {
    align-self: stretch;
  }

  header .reviews-3 {
    align-self: stretch;
  }

  header .card-reviews span {
    display: block;
  }

  main {
    margin: 0px;
    flex-direction: column;
  }

  main .card-proof {
    margin: 20px auto;
  }

  main .proof2 {
    transform: translateY(0);
  }

  main .proof3 {
    transform: translateY(0);
  }
}
